<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Response page</title>
    <style type="text/css">
       table {
            background: gray;
            }
            td {    
              display: block;
              float: left;
              padding: 10px 0;
              margin-right:50px;
              background: white;
                }
            td:last-child {
                    margin-right: 0;
                    } 
    </style>

</head>
<body>
	<!-- <h2>Submitted responses</h2> -->
<!--         <div class="inner-container">
            {% if existing_responses %}
            <h2>Submitted Responses</h2>
            <div class="line"></div>
            {% for response in existing_responses %}
            <div class="response-container">
                <h3>Response {{ forloop.counter }}</h3>
                <ul>
                    {% for answer in response.answers.all %}
                    <li>
                        <strong>{{ answer.question.question_text }}:</strong>
                        {% if answer.question.question_type == 'file_upload' %}
                        {% if answer.file_upload %}
                        <a href="{{ answer.file_upload.url }}" download>Download File</a>
                        {% else %}
                        No file uploaded
                        {% endif %}
                        {% else %}
                        {{ answer.answer_text }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                <a class="view-btn" href="">View</a>

            </div> -->


<!--                 <table class="table table-striped">
                    <tr>
                        <ul>
                            {% for answer in response.answers.all %}

                            <th>{{ answer.question.question_text }}</th>

                            {% endfor %}
                        </ul>
                    </tr>

                    <tr>
                        <ul>
                            {% for answer in response.answers.all %}
                            <li>
                                {% if answer.question.question_type == 'file_upload' %}
                                    {% if answer.file_upload %}
                                        <td><a href="{{ answer.file_upload.url }}" download>Download File</a></td>
                                    {% endif %}
                                {% else %}
                                <td>{{ answer.answer_text }}</td>
                                {% endif %}

                            </li>
                            {% endfor %}
                        </ul>
                    </tr>
                </table> -->
<!--             {% endfor %}
            {% else %}
            <p>No responses submitted yet.</p>
            {% endif %}
 -->
{% if existing_responses %}
    <h2>Submitted response table</h2>

    {% for response in existing_responses %}

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <ul>
                            {% for answer in response.answers.all %}

                            <th>{{ answer.question.question_text }}</th>
                            
<!-- 
                            {% endfor %}
                        </ul> -->
                        <th>More info</th>
                    </tr>
                </thead>

                    <tbody>
                    <tr>
                        <!-- <ul> -->
                            <!-- {% for answer in response.answers.all %} -->
                            <li>
                                {% if answer.question.question_type == 'file_upload' %}
                                    {% if answer.file_upload %}
                                        <td><a href="{{ answer.file_upload.url }}" download>Download File</a></td>
                                    {% endif %}
                                {% else %}
                                <td>{{ answer.answer_text }}</td>
                                {% endif %}


                            </li>
                            {% endfor %}
                        </ul>
                        <td><a class="view-btn" href="{% url 'view_answer' form_instance.id %}">View</a></td>
                    </tr>
                </tbody>
                </table>

    {% endfor %}
{% else %}
            <p>No responses submitted yet.</p>

{% endif %}

            <a class="below-link" href="{% url 'list_forms'  %}">Back to Form Details</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-zJ3+PoYG2hIe7w6FIp40/xzWq58jz3IMtkJqjRn5YqUo2+0D98IjOBhp0+P8DrMo"
        crossorigin="anonymous"></script>
</body>
</html>